#nav {
	background-color: lightgray;
	line-height: 50px;
	margin: 0;
	font-size: 20px;
	padding-left: 10px;
}

#nav ul {
	list-style-type: none;
	float: right;
	margin: 0;
	padding-right: 10px;
}

#nav ul li {
	display: inline-block;
}

#nav a {
	text-decoration: none;
}

.section {
	margin: 40px 40px 40px 40px;
}

button {
	height: 30px;
}

label {
	display: inline-block;
	border: solid #999 1px;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px -4px 0 -4px;
}

.paging {
	margin: -2px 0 0 0;
	display: inline-block;
}

.form-button {
	height: 22px;
	border-radius: 0;
}

body {
	margin: 0;
	padding: 0;
}

.listings {
padding-top: 40px;
}

.listing {
  list-style: none;
  margin-bottom: 15px;
}

/* */
.listing-date ,
.listing-location {
  color: #999;
}

.listing-title {
  font-weight: bold;
  font-size: 17px;
  margin-left: 8px;
  margin-right: 8px;
}